body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darkkhaki
}

.container{
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(201, 201, 201);
  border-radius: 5px;
  margin: 10px 5px 10px 10px ;
  border: 2px solid #ccc;
  height: 80px;
  background-color: white;
}

.container__firstDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__firstDiv > input{
  border: none;
}

.container__secondDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;

  
}

.container__secondDiv >select{
  border-radius: 10px;
  background: rgb(244, 241, 241);
  font-weight: 200;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  

}

.converterContainer{
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 10px;
  background: rgba(10, 69, 81, 0.3)
}