
.container{
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(201, 201, 201);
  border-radius: 5px;
  margin: 10px 5px 10px 10px ;
  border: 2px solid #ccc;
  height: 80px;
}

.container__firstDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__firstDiv > input{
  border: none;
}

.container__secondDiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
}